.illuminati {
  background-color: black;
  padding: 3rem;
}

.illuminati .illuminati-events {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}

.illuminati .illuminati-events h2 {
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin-bottom: 1rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .illuminati .illuminati-events {
    padding: 1rem 0;
  }
  .illuminati .illuminati-events h2 {
    font-size: 30px;
  }
}

.illuminati::-moz-selection {
  background-color: violet;
}

.illuminati::selection {
  background-color: violet;
}

.illuminati-even-item:hover {
  -webkit-box-shadow: 5px 5px 10px #ffcaff;
          box-shadow: 5px 5px 10px #ffcaff;
}

.illuminati-odd-item:hover {
  -webkit-box-shadow: -5px 5px 10px #ffcaff;
          box-shadow: -5px 5px 10px #ffcaff;
}

.illuminati-even-item {
  padding: 25px 0px 25px 0px;
}

.illuminati-even-item .even-text {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.illuminati-even-item .even-text h2 {
  letter-spacing: 2px;
  font-size: 35px;
  margin-bottom: 1rem;
  color: #e9e9e9;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 500px;
  padding: 10px;
}

.illuminati-even-item .even-text h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: normal;
  color: #e9e9e9;
}

.illuminati-even-item .even-text ul {
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: normal;
  float: left;
  padding: 50px;
}

.illuminati-even-item .even-text h2:hover::after {
  width: 100%;
  left: 0;
}

.illuminati-even-item .even-text h2::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(#5b035e), to(#f69ec4));
  background: linear-gradient(to left, #5b035e, #f69ec4 100%);
  -webkit-transition: width .5s ease 0s, right .5s ease 0s;
  transition: width .5s ease 0s, right .5s ease 0s;
  width: 0;
}

.illuminati-odd-item {
  padding: 25px 0px 25px 0px;
}

.illuminati-odd-item .odd-text {
  text-align: right;
}

.illuminati-odd-item .odd-text h2 {
  letter-spacing: 2px;
  font-size: 35px;
  margin-bottom: 1rem;
  color: #e9e9e9;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 500px;
  padding: 10px;
}

.illuminati-odd-item .odd-text h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: normal;
  color: #e9e9e9;
}

.illuminati-odd-item .odd-text ul {
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: normal;
  float: right;
  color: #e9e9e9;
}

.illuminati-odd-item .odd-text h2:hover::after {
  width: 100%;
  right: 0;
}

.illuminati-odd-item .odd-text h2::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  right: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#5b035e), to(#f69ec4));
  background: linear-gradient(to right, #5b035e, #f69ec4 100%);
  -webkit-transition: width .5s ease 0s, right .5s ease 0s;
  transition: width .5s ease 0s, right .5s ease 0s;
  width: 0;
}

.past-illu-wrapper {
  height: 230px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}
/*# sourceMappingURL=illuminati-events.css.map */