.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  color: #e9e9e9;
}

.nav-wrapper img {
  height: 80px;
  -webkit-animation: none;
          animation: none;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.nav-wrapper h1 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: lighter;
}

.nav-links {
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-links p {
  margin: 0 1rem;
  cursor: pointer;
  color: #e9e9e9;
}

.nav-links p:hover {
  text-shadow: 0 0 10px #51cbee;
}

.MuiDrawer-paper {
  width: 400px !important;
  background-color: rgba(21, 18, 68, 0.726) !important;
  padding: 1rem 2rem;
}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
  height: 70px;
  width: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .MuiDrawer-paper {
    width: 100% !important;
  }
}

.hero {
  background-image: url(../assets/hero.JPG);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: hue 5s infinite;
          animation: hue 5s infinite;
}

.main-text {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main-text h1 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: lighter;
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.main-text p {
  padding: 0 2rem;
  text-align: center;
  color: #e9e9e9;
}

@media only screen and (max-width: 900px) {
  .main-text {
    height: 50vh;
  }
  .main-text h1 {
    font-size: 60px;
    line-height: 60px;
  }
}

@-webkit-keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(72deg);
  }
  20% {
    -webkit-filter: hue-rotate(144deg);
  }
  40% {
    -webkit-filter: hue-rotate(216deg);
  }
  60% {
    -webkit-filter: hue-rotate(288deg);
  }
  80% {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(72deg);
  }
  20% {
    -webkit-filter: hue-rotate(144deg);
  }
  40% {
    -webkit-filter: hue-rotate(216deg);
  }
  60% {
    -webkit-filter: hue-rotate(288deg);
  }
  80% {
    -webkit-filter: hue-rotate(360deg);
  }
}

.aboutus-home {
  background-color: black;
  padding: 5rem 3rem;
}

.aboutus-home .content h2 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  padding: 0 2rem;
  margin-bottom: 1rem;
  color: #e9e9e9;
}

.aboutus-home .content p {
  padding: 0 2rem;
  line-height: 2rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .aboutus-home .content h2 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0rem;
  }
  .aboutus-home .content p {
    padding: 0rem;
  }
}

.custom-btn {
  color: #fff;
  width: auto;
  padding: 0.5rem 3rem;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  color: #ffcaff;
  border: 1px solid #ffcaff;
  -webkit-box-shadow: 0 0 5px #ffcaff, 0 0 5px #ffcaff inset;
          box-shadow: 0 0 5px #ffcaff, 0 0 5px #ffcaff inset;
  z-index: 1;
  text-align: center;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #ffcaff;
  -webkit-box-shadow: 0 0 20px #ffcaff;
          box-shadow: 0 0 20px #ffcaff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #000;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}

.header-grid {
  width: 100% !important;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "big-top big-top big-top small-top small-top" "small-middle small-middle big-middle big-middle big-middle";
}

.block {
  height: 100%;
  width: 100%;
  border: 10px solid black;
  background: black;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.block:hover {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#b1,
#b2,
#b3,
#b4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: radial;
  transition: radial;
}

#b1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: big-top;
  background-image: url(../assets/grpdance1.jpg);
}

#b1:hover,
#b2:hover,
#b3:hover,
#b4:hover {
  -webkit-filter: none !important;
  filter: none !important;
}

#b2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: small-top;
  background-image: url(../assets/kota1.jpg);
}

#b3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: small-middle;
  background-image: url(../assets/solodance1.JPG);
}

#b4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: big-middle;
  background-image: url(../assets/duetdance1.JPG);
}

.illuminati-home {
  background-image: url(../assets/illuminati4.jpg);
  min-height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-filter: hue-rotate(40deg);
          filter: hue-rotate(40deg);
  padding-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
  .illuminati-home {
    min-height: 70vh;
    padding-bottom: 1.5rem;
  }
}

.illuminati-home .content {
  text-align: center;
}

.illuminati-home .content h2 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  padding: 4rem 2rem 2rem 2rem;
  color: #e9e9e9;
}

.illuminati-home .content p {
  padding: 0 2rem;
  line-height: 2rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .illuminati-home .content h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .illuminati-home .content p {
    padding: 0rem;
    line-height: 2rem;
  }
}

.neon-ill {
  margin: 0 2rem;
}

@media only screen and (max-width: 900px) {
  .neon-ill {
    margin: 0rem;
  }
}

.illuminati-home-embed {
  margin: 0 2rem;
  padding: 2rem;
  text-align: left;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 900px) {
  .illuminati-home-embed {
    margin: 0 1.5rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.footer {
  padding: 4rem 3rem;
  background-color: black;
}

.footer-prati h3 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: lighter;
  color: #e9e9e9;
}

.quick-links, .footer-prati {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .quick-links, .footer-prati {
    width: 100%;
  }
}

p {
  font-weight: lighter;
  line-height: 2rem;
}

.social-link {
  width: 40px !important;
  height: 40px !important;
  background-color: #260135;
  border-radius: 50%;
  padding: 0.7rem;
}

.social-link:hover {
  background-color: #480363;
}
/*# sourceMappingURL=index.css.map */