.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  color: #e9e9e9;
}

.nav-wrapper img {
  height: 80px;
  -webkit-animation: none;
          animation: none;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}

.nav-wrapper h1 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: lighter;
}

.nav-links {
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-links p {
  margin: 0 1rem;
  cursor: pointer;
  color: #e9e9e9;
}

.nav-links p:hover {
  text-shadow: 0 0 10px #51cbee;
}

.MuiDrawer-paper {
  width: 400px !important;
  background-color: rgba(21, 18, 68, 0.726) !important;
  padding: 1rem 2rem;
}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
  height: 70px;
  width: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .MuiDrawer-paper {
    width: 100% !important;
  }
}

.hero {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero-home {
  background-image: url(../assets/hero.JPG);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: hue 5s infinite;
          animation: hue 5s infinite;
}

.hero-spons {
  background-image: url(../assets/spons-hero.jpg);
}

.hero-hof {
  background-image: url(../assets/halloffame-hero.jpg);
}

.hero-gallery {
  background-image: url(../assets/gallery-hero.jpg);
}

.hero-events {
  background-image: url(../assets/events_hero.jpg);
}

.main-text {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main-text h1 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: lighter;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;
}

.main-text p {
  padding: 0 2rem;
  text-align: center;
  color: #e9e9e9;
  font-weight: normal;
}

@media only screen and (max-width: 900px) {
  .main-text {
    height: 60vh;
  }
  .main-text h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@-webkit-keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(72deg);
  }
  20% {
    -webkit-filter: hue-rotate(144deg);
  }
  40% {
    -webkit-filter: hue-rotate(216deg);
  }
  60% {
    -webkit-filter: hue-rotate(288deg);
  }
  80% {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(72deg);
  }
  20% {
    -webkit-filter: hue-rotate(144deg);
  }
  40% {
    -webkit-filter: hue-rotate(216deg);
  }
  60% {
    -webkit-filter: hue-rotate(288deg);
  }
  80% {
    -webkit-filter: hue-rotate(360deg);
  }
}

.aboutus-home {
  background-color: black;
  padding: 5rem 3rem;
}

.aboutus-home .content h2 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  padding: 0 2rem;
  margin-bottom: 1rem;
  color: #e9e9e9;
}

.aboutus-home .content p {
  padding: 0 2rem;
  line-height: 2rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .aboutus-home .content h2 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0rem;
  }
  .aboutus-home .content p {
    padding: 0rem;
  }
}

.custom-btn {
  color: #fff;
  width: auto;
  padding: 0.5rem 3rem;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  color: #ffcaff;
  border: 1px solid #ffcaff;
  -webkit-box-shadow: 0 0 5px #ffcaff, 0 0 5px #ffcaff inset;
          box-shadow: 0 0 5px #ffcaff, 0 0 5px #ffcaff inset;
  z-index: 1;
  text-align: center;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #ffcaff;
  -webkit-box-shadow: 0 0 20px #ffcaff;
          box-shadow: 0 0 20px #ffcaff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #000;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}

.header-grid {
  width: 100% !important;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "big-top big-top big-top small-top small-top" "small-middle small-middle big-middle big-middle big-middle";
}

.block {
  height: 100%;
  width: 100%;
  border: 10px solid black;
  background: black;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.block:hover {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#b1,
#b2,
#b3,
#b4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: radial;
  transition: radial;
}

#b1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: big-top;
  background-image: url(../assets/grpdance1.jpg);
}

#b1:hover,
#b2:hover,
#b3:hover,
#b4:hover {
  -webkit-filter: none !important;
  filter: none !important;
}

#b2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: small-top;
  background-image: url(../assets/kota1.jpg);
}

#b3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: small-middle;
  background-image: url(../assets/solodance1.JPG);
}

#b4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: big-middle;
  background-image: url(../assets/duetdance1.JPG);
}

.illuminati-home {
  background-image: url(../assets/illuminati4.jpg);
  min-height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-filter: hue-rotate(40deg);
          filter: hue-rotate(40deg);
}

.illuminati-home .gradient {
  width: 100%;
  height: 100px;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 35%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (max-width: 900px) {
  .illuminati-home {
    min-height: 70vh;
  }
}

.illuminati-home .content {
  text-align: center;
}

.illuminati-home .content h2 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  padding: 4rem 2rem 2rem 2rem;
  color: #e9e9e9;
}

.illuminati-home .content p {
  padding: 0 2rem;
  line-height: 2rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .illuminati-home .content h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .illuminati-home .content p {
    padding: 0rem;
    line-height: 2rem;
  }
}

.neon-ill {
  margin: 0 2rem;
}

@media only screen and (max-width: 900px) {
  .neon-ill {
    margin: 0rem;
  }
}

.illuminati-home-embed {
  margin: 0 2rem;
  padding: 2rem;
  text-align: left;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 900px) {
  .illuminati-home-embed {
    margin: 0 1.5rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.footer {
  padding: 4rem 3rem;
  background-color: #111111;
}

.footer-prati h3 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: lighter;
  color: #e9e9e9;
}

.quick-links,
.footer-prati {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .quick-links,
  .footer-prati {
    width: 100%;
  }
}

p {
  font-weight: lighter;
  line-height: 2rem;
}

.social-link {
  width: 40px !important;
  height: 40px !important;
  background-color: #480363;
  border-radius: 50%;
  padding: 0.7rem;
}

.social-link:hover {
  background-color: #64038a;
}

.events-home {
  background: black;
  background-image: url(../assets/events_bg2.jpg);
  min-height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 4rem;
}

.events-home .gradient {
  width: 100%;
  height: 100px;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, black 35%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (max-width: 900px) {
  .events-home {
    min-height: 70vh;
    padding-bottom: 3rem;
  }
}

.events-home .content {
  text-align: center;
}

.events-home .content h2 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  padding: 4rem 2rem 2rem 2rem;
  color: #e9e9e9;
}

.events-home .content p {
  padding: 0 2rem;
  line-height: 2rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .events-home .content h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .events-home .content p {
    padding: 0rem;
    line-height: 2rem;
  }
}

.neon-ill {
  margin: 0 2rem;
}

@media only screen and (max-width: 900px) {
  .neon-ill {
    margin: 0rem;
  }
}

.carousel {
  overflow: hidden;
  margin: 2rem 0;
}

.inner {
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.carousel-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 300px;
  color: #fff;
  opacity: 0.9;
}

.indicators button {
  outline: none;
  background-color: transparent;
  border: 0;
}

.indicators button:focus {
  outline: none;
}

.indicators {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  cursor: pointer;
}

.indicators > button {
  font-size: 20px;
  margin: 7.5px;
}

.indicators > button.active {
  color: #d43d5e;
}

.past-spons {
  background-color: black;
  padding: 2rem;
}

.past-spons h2 {
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #e9e9e9;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .past-spons h2 {
    font-size: 40px;
    line-height: 40px;
  }
}

.spons-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  /* effect-clean*/
  /* effect-uncover*/
}

.spons-item .item {
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 1% 2% 1% 0%;
  overflow: hidden;
}

.spons-item .item .overlay {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
}

.spons-item .item:hover {
  -webkit-box-shadow: 5px 5px 10px #ce0a5c;
          box-shadow: 5px 5px 10px #ce0a5c;
}

.spons-item .clean .overlay span:nth-child(1) {
  position: absolute;
  left: 30%;
  top: 35%;
  font-size: 80px;
  font-weight: bold;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.spons-item .clean .overlay span:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #000;
  font-weight: 800;
}

.spons-item .clean .overlay span:nth-child(3) {
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 60%;
  left: 0;
}

.spons-item .clean .overlay:hover {
  opacity: 0.93;
}

.spons-item .clean .overlay:hover span:nth-child(1) {
  -webkit-animation: slide 0.4s;
          animation: slide 0.4s;
}

.spons-item .clean .overlay:hover span:nth-child(2) {
  -webkit-animation: slide 0.7s;
          animation: slide 0.7s;
}

.spons-item .clean .overlay:hover span:nth-child(3) {
  -webkit-animation: line 0.5s forwards;
          animation: line 0.5s forwards;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.spons-item .uncover .overlay span:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 35%;
  font-size: 0px;
  font-weight: bold;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.spons-item .uncover .overlay span:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  text-align: center;
  color: #000;
}

.spons-item .uncover .overlay span:nth-child(3) {
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 38%;
  opacity: 0;
}

.spons-item .uncover .overlay span:nth-child(4) {
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 25%;
  opacity: 0;
}

.spons-item .uncover .overlay:hover {
  opacity: 0.9;
}

.spons-item .uncover .overlay:hover span:nth-child(1) {
  -webkit-animation: fadein 0.6s forwards;
          animation: fadein 0.6s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.spons-item .uncover .overlay:hover span:nth-child(2) {
  -webkit-animation: fadein 0.6s forwards;
          animation: fadein 0.6s forwards;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.spons-item .uncover .overlay:hover span:nth-child(3) {
  -webkit-animation: draw-left 0.7s;
          animation: draw-left 0.7s;
}

.spons-item .uncover .overlay:hover span:nth-child(4) {
  -webkit-animation: draw-right 0.7s;
          animation: draw-right 0.7s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes draw-left {
  0% {
    opacity: 0;
    width: 0px;
    left: 75%;
  }
  50% {
    opacity: 1;
    left: 25%;
    width: 200px;
  }
  100% {
    opacity: 0;
    width: 0px;
    left: 25%;
  }
}

@keyframes draw-left {
  0% {
    opacity: 0;
    width: 0px;
    left: 75%;
  }
  50% {
    opacity: 1;
    left: 25%;
    width: 200px;
  }
  100% {
    opacity: 0;
    width: 0px;
    left: 25%;
  }
}

@-webkit-keyframes draw-right {
  0% {
    opacity: 0;
    width: 0px;
  }
  50% {
    opacity: 1;
    width: 200px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes draw-right {
  0% {
    opacity: 0;
    width: 0px;
  }
  50% {
    opacity: 1;
    width: 200px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hall-of-fame {
  background-color: black;
  padding: 3rem;
}

.hall-of-fame .glimpses {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}

.hall-of-fame .glimpses h2 {
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin-bottom: 1rem;
  color: #e9e9e9;
  font-weight: lighter;
}

@media only screen and (max-width: 900px) {
  .hall-of-fame {
    padding: 2rem;
  }
  .hall-of-fame .glimpses {
    padding: 1rem 0;
  }
  .hall-of-fame .glimpses h2 {
    font-size: 30px;
  }
}

.celeb-wrapper {
  height: 230px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.celeb-wrapper img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #cd60ff;
}

.gallery {
  background-color: black;
}

#gallery {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

@media (max-width: 1200px) {
  #gallery {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  #gallery {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.card {
  width: 100%;
  height: auto;
  margin: 4% auto;
  -webkit-box-shadow: -3px 5px 15px #000;
          box-shadow: -3px 5px 15px #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 10;
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}
/*# sourceMappingURL=index.css.map */