@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
    color: rgb(202, 197, 197);
}